#currency-converter {
  @include flex-container(column, wrap);
  padding: 2rem;
  place-content: start start;
  place-items: center end;

  .input-container {
    @include flex-container(row, wrap);
    @include dimensions(100%, 40%);
    place-content: center center;
    place-items: space-between end;

    & label {
      @include dimensions(80%, max-content);
      @include font($font-1, 1rem, bolder);
      margin-bottom:1rem;
      text-align: center;
    }

    & select,
    & input {
      @include dimensions(40%, 3rem);
      @include box-shadow-inset;
      font-weight: bold;
      background-color: transparent;
      padding: 1rem;
      border: none;
      outline: none;

      & option {
        color: $bg-color;
        font-weight: inherit;
      }
    }
  }
}
