@import "vars";
@import "resets";
@import "utils";
@import "navs";
@import "calculator";
@import "currency";
@import "units";
@import "media-queries";

html {
  font-size: 20px;
}

body {
  font-size: 1rem;
  scroll-behavior: smooth;
  color: $font-color-1;
  @include font($font-1, 1rem);
}

#particles-js {
  background-color: #444444;
  position: fixed;
  top: 0;
  @include dimensions(100vw, 100vh);
  z-index: -1;
}

.main-container {
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #e2e2e200,
    #bab9da98,
    #beb5d8d7,
    #b0b7cfe7,
    #b4c4f8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #e2e2e200,
    #bab9da98,
    #beb5d8d7,
    #b0b7cfe7,
    #b4c4f8
  );

  @include flex-container(column, nowrap);
  @include dimensions(clamp(15rem, 98%, 40rem), clamp(25rem, 95vh, 50rem));
  @include border(null, null, null, 2.5rem 2.5rem 0 0);
  position: relative;
  row-gap: 1rem;
  place-content: flex-start flex-start;
  margin: 2rem auto 0 auto;
  padding: 2rem 0;

  header {
    justify-self: flex-start;
  }
}

main {
  @include dimensions(80%, 80vh);
  @include border(solid, 0px, transparent, 1rem);
  @include box-shadow-1;
  margin: 0 auto;
  overflow-x: hidden;

  & #slider-cont {
    @include dimensions(300%, 100%);
    @include flex-container(row, nowrap);
    transition: 0.25s;

    & > * {
      @include dimensions(calc(100% / 3), 100%);
      overflow: hidden;
      background: $container-color;
    }
  }
}

button,
input,
select,
option {
  @include font($font-1, 0.8rem);
  cursor: pointer;
  color: inherit;
  border: none;
  outline: none;
}

label {
  text-transform: capitalize;
}

.button {
  @include box-shadow-buttons;
  @include font($font-3, 0.8rem);
  font-weight: bold;
  background-color: $button-color;
  position: relative;
  transition: 0.1s;
  border: none;

  &:before {
    @include before;
  }
}

.button:active {
  box-shadow: none;

  &:before {
    @include box-shadow-inset;
    z-index: 1;
  }
}

.convert-buttons {
  @include flex-container(row, nowrap);
  @include dimensions(70%, max-content);

  & .button {
    @include dimensions(100%, 3rem);

    & img {
      filter: invert(100%);
      transition: 0.3s;
    }
  }
}

.swap:hover img {
  transform: rotate(180deg);
}

.convert-btn:hover .zero-width,.convert-btn:active .zero-width{
  width: 15px;
}

// scrollbar
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: $bg-color;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: $container-color;
  @include border(solid, 2px, transparent, 10px);
}

::-webkit-scrollbar-thumb:hover {
  border-color: $button-color;
}
