@media screen and (max-width: 650px) {
  .main-container {
    padding: 10px 0 0 0 !important;
    row-gap: 0;
    margin: 1rem auto 0 auto !important; 

    & main {
      width: 95%;
    }
  }

  .alert {
    font-size: 0.6rem;
    inset: -20px auto auto 5px;
    transform: translate(-50%, 50%);
    text-align: center;
    padding: 0.5rem;
  }

  #calculator {
    padding: 1rem;

    & .row {
      font-size: 0.8rem !important;
      margin-bottom: 2px;
    }

    & #calc-container {
      grid-gap: 0.5rem;
    }
  }

  #currency-converter {
    padding: 0.3rem;

    & select,
    & input {
      width: 50%;
    }
    & .convert-buttons {
      width: 100%;
    }
  }

  #units-converter {
    padding: 0.2rem;

    .unit-buttons {
      @include flex-container(row, nowrap);
      @include dimensions(100%, 5rem);
      place-content: center space-between;
      place-items: start start;
      overflow-x: scroll;
    }

    & .convert-buttons {
      height: max-content;
      & > * {
        height: 40px;
      }
    }
  }

  #unit-container {
    & .front,
    & .back {
      & div {
        font-size: 0.8rem !important;
        & input {
          @include dimensions(0.7rem !important, 0.7rem !important);
        }
      }
    }
  }
  .button-container {
    @include dimensions(95%, max-content);
  }
}

@media (max-height: 1000px) and (min-width: 1200px) {
  .main-container {
    @include dimensions(50% !important, clamp(20rem, 90vh, 30rem));
    min-height: 700px !important;
    margin: 1rem auto !important; 

    main{
      min-height: 100% !important;
    }

    .alert {
      font-size: 0.6rem;
      inset: -10px auto auto 5px;
    }

    #calculator {
      padding: 2rem;
    }
  }
}
