#units-converter {
  & #unit-container {
    @include flex-container(row, wrap);
    @include dimensions(100%, 80%);
    align-content: flex-start;
    padding: 0.3rem;
    row-gap:0.3rem;
    padding-bottom:0.5rem;

    & .input-container{
      @include dimensions(100%,15%);
      @include flex-container(row,wrap);
      justify-content: space-evenly;
      align-items:center;
      & > input {
        font-weight: bold;
        background-color: transparent;
        @include dimensions(45%, 2.5rem);
        @include box-shadow-inset;
        @include border(solid, 0px, transparent, 1rem);
        caret-color: $nav-button-color-2;
        padding:1rem;
      }
    }
    & .convert-buttons{
      @include dimensions(100%,15%);
    }
  }

  & .radio-container {
    @include dimensions(100%,70%);
    @include flex-container(row,nowrap);
    justify-content: center;
    column-gap:0.2rem;

    & .unit-card {
      @include dimensions(45%,100%);
      text-align: center;
      background-color: transparent;
      perspective: 1000px;
  
      & .unit-card-inner {
        @include dimensions(100%, 100%);
        padding-bottom:0.3rem;
        position: relative;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        accent-color: $red;
  
        & .front,
        & .back {
          position: absolute;
          @include flex-container(column, nowrap);
          @include dimensions(100%, 100%);
  
          padding:0 0.5rem;
          
          backface-visibility: hidden;
          overflow-y:auto;
          & div {
            @include flex-container(row, nowrap);
            @include font($font-3, 1rem);
            @include box-shadow-buttons;
            margin-bottom: 0.4rem;
            place-content:center start;
            place-items: center center;
            background-color:$button-color;
            position: relative;
            text-align: left;
            padding: 0.3rem;
            cursor: pointer;
            transition: 0.2s;
  
            & input {
              @include dimensions(1rem, 1rem);
              margin-right: 0.2rem;
            }
  
            &:before {
              content: "";
              transition: 0.2s;
              @include dimensions(100%, 100%);
              position: absolute;
              top: 0;
              left: 0;
            }
          }
  
          & div:hover {
            box-shadow: none;
  
            &:before {
              @include box-shadow-inset;
            }
          }
        }
  
        & .back {
          transform: rotateY(180deg);
        }
      }
    }
  }
}

